<h4>Manager</h4>
<br>

<select id="managers" #mySelect (change)='onOptionsSelected(+mySelect.value)'>
  <option value="default" [value] = "0">----</option>
  <option *ngFor="let manager of managers" [value]="manager.id"> {{ manager.name }}</option>
</select>

<br>
<br>


  <app-employee [manager] = 'manager' 
  [managerId] = 'managerId'  *ngIf="showList"></app-employee>
  <app-add-employee 
    [manager] = 'manager' 
    [managerId] = 'managerId' 
    *ngIf="!showList">
</app-add-employee>



<div class = 'create' *ngIf="showList">
  <button (click)="onAddEmployee()">    
    Add Employees
  </button>
</div>

<div class = 'create' *ngIf="!showList">
  <button (click)="onShowList()">    
    Show Employees
  </button>
</div>
 