<h4> Add New Employee from</h4>


<div class="container" id="emploeeFrom">
  <form #myForm="ngForm" (ngSubmit)="add();myForm.resetForm()" #registerForm="ngForm">
    <div class="form-group">
      <label for="lblEmail">Employee Id</label>
      <input
        type="employeeid"
        class="form-control"
        id="employeeid"
        name="employeeid"
        [(ngModel)]="employee.id"
    />
    </div>

      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          [(ngModel)]="employee.lastName"
        />
      </div>

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="firstname"
          class="form-control"
          id="firstname"
          name="firstname"
          [(ngModel)]="employee.firstName"
        />
      </div>

      <div class="form-group">
        <label for="man">Roles</label>
        <select name="roles" multiple 
        [(ngModel)]="roles">
          <option  *ngFor="let role of allRoles" >{{role.roleName}}</option>
      </select>
      </div>

      <input type="submit" class="btn btn-primary" value="submit" />
    </form>
</div>